.category-banners {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 120px;
}

.category-banner {
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 13px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-title {
    position: relative;
    z-index: 1;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.sidebar-menu {
    position: absolute;
    top: 0;
    left: 0px;
    width: 300px;
    height: 100vh;
    background-color: #070577;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top-sidebar-menu{
    order:-1;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-h2{
    order: -1;
    color: #FFFFFF;
    font-size: 1.9rem;
}

.sidebar-menu .close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.container-links{
    margin-top: 110px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-menu-box{
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-menu-box{
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.sidebar-link1 {
    display: block;
    text-decoration: none;
    color: #070577;
    font-size: 2rem;
    transition: color 0.3s ease;
    font-weight: bold;
}

.sidebar-link2{
    display: block;
    text-decoration: none;
    color: #070577;
    font-size: 2rem;
    transition: color 0.3s ease;
    font-weight: bold;
}

.sidebar-menu .sidebar-link:hover {
    color: #007BFF;
}

.sidebar-menu.active{
    transform: translateX(0);
}