.category-banners {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 120px;
}

.category-banner {
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 13px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}