.category-banners {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 120px;
}

.category-banner {
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 13px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-title {
    position: relative;
    z-index: 1;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}