.breadcrumbs {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #536679;
    margin-bottom: 16px;
}

.breadcrumbs a {
    color: #08068D;
    text-decoration: none;
}
