* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: black;
    width: 100%;
    max-width: 393px;
    margin: 0 auto;
    min-height: 100vh;
}
