* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F8F8FF;
}

.produto {
    position: relative;
    width: 393px;
    height: 1222px;
    margin: 0 auto;
    background: #08068D;
}

.header {
    position: absolute;
    width: 393px;
    height: 146px;
    left: 0;
    top: 0;
}

.navbar-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 22px;
    width: 393px;
    height: 93px;
    background: #08068D;
}

.menu-sanduiche {
    width: 28px;
    height: 38px;
    font-size: 32px;
    color: #FFFFFF;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

.foto-perfil {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 200px;
    background-image: url('profile.jpg');
    background-size: cover;
}

.barra-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    position: absolute;
    width: 374px;
    height: 37px;
    left: 9px;
    top: 94px;
    background: #FFFFFF;
    border: 0.5px solid #A4B3C1;
    border-radius: 20px;
}

.place-holder {
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 13px;
    color: #A4B3C1;
}

.pesquisa-icone {
    font-size: 18px;
    color: #C2CCD6;
}
