/* --- Variáveis de Cor --- */
:root {
    --cor-primaria-azul: #08068D; /* Azul escuro do header/botão/footer ativo */
    --cor-sucesso-verde: #2ecc71; /* Verde do ícone de check */
    --cor-fundo-branco: #ffffff;
    --cor-fundo-app: #f4f5f7;    /* Cinza bem claro para o fundo do body */
    --cor-texto-principal: #333333;
    --cor-texto-inativo: #999999; /* Cinza para textos/ícones inativos */
    --cor-texto-branco: #ffffff;
    --cor-borda-leve: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo-app);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}