*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

header{
    width: 100vw;
    display: flex;
    background-color: darkblue;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

footer{
    background-color: darkblue;
    color: white;
    width: 100vw;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.botao-menu{
    display: flex;
    gap: 15px;
}

#pesquisa{
    border-radius: 5px;
    border: darkblue solid 1px;
    width: 90vw;
    height: 40px;
    padding-left: 10px;
}

.banner{
    border: 1px solid darkblue;
    border-radius: 5px;
    height: 250px;
    width: 90vw;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.subtitulos-titulo{
    color: darkblue;
    border-bottom: 1px solid lightgray;
    width: 100vw;
    padding-left: 5vw;
}

.categorias-produtos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-produto{
    height: 40vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px
}

.card-produto h3{
    color: darkblue;
}

.card-produto img{
    width: 100%;
    height: 60%;
    border: darkblue solid 1px;
    border-radius: 5px;
}

.selecao-categoria{
    display: flex;
    flex-direction: column;
    gap:20px
}
.carrossel-selecao-categoria{
    display: flex;
    gap: 20px;
    margin-left: 5vh;
    margin-right: 5vh;
    height: 100px;
}

.imagem-categoria{
    width: 33%;
}

.imagem-categoria img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
    border: darkblue solid 1px;
}